@import '../../../styles/variables', '../../../styles/reset';

@keyframes dropdown {
  from {
    opacity: 0.5;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1248px;
  width: 320px;
  padding-top: 45px;
  margin: 10px auto 45px auto;
  &__dropdown {
    position: relative;
    &-menu {
      flex-basis: 70px;
      margin-right: 8px;
      width: 70px;
      height: 35px;
      background-color: $white;
      display: flex;
      padding: 0 7px 0 10px;
      justify-content: space-between;
      align-items: center;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      &-img-active {
        transform: rotate(180deg);
        transition: 0.3 ease;
      }
    }
    &-menubar {
      overflow: hidden;
      cursor: pointer;
      width: 70px;
      background-color: $white;
      color: $black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      border: 1px solid $gray200;
      border-radius: 6px;
      top: 40px;
      z-index: 2;
      animation: dropdown 0.3s ease;
      &-all,
      &-name,
      &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 35px;
      }
      &-all:hover,
      &-name:hover,
      &-content:hover {
        background-color: $gray100;
      }
    }
  }

  &__input {
    flex-basis: 200px;
    width: 200px;
    height: 35px;
    outline: none;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    padding-left: 10px;
    margin-right: 8px;
  }

  &__btn {
    flex-basis: 35px;
    height: 35px;
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: $accent-color;
    color: $white;
    cursor: pointer;
    &-img {
      width: 15px;
      filter: brightness(0) invert(1);
    }
    &-word {
      display: none;
    }
    &:active {
      transform: scale(0.8);
      transition: 0.3s ease;
    }
  }
}

@media #{$tablet-screen} {
  .search-container {
    padding-top: 70px;
    width: 700px;
    margin: 0 auto 60px auto;
    &__dropdown {
      margin-right: 15px;
      &-menu {
        width: 90px;
        padding: 0 10px 0 15px;
        height: 50px;
        margin-right: 0;
      }
      &-menubar {
        top: 55px;
        width: 90px;
        &-all,
        &-name,
        &-content {
          height: 50px;
        }
      }
    }
    &__input {
      flex-basis: 450px;
      margin-right: 15px;
      height: 50px;
    }
    &__btn {
      flex-basis: 100px;
      height: 50px;
      &-img {
        display: none;
      }
      &-word {
        display: block;
        font-size: 16px;
      }
    }
  }
}
