@import '../../../styles/variables', '../../../styles/reset';

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1248px;
  width: 320px;
  padding-top: 45px;
  margin: auto;
  &__dropdown {
    position: relative;
    &-menu {
      flex-basis: 70px;
      margin-right: 15px;
      width: 70px;
      height: 35px;
      background-color: $white;
      display: flex;
      padding: 0 7px;
      justify-content: space-between;
      align-items: center;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      &-img-active {
        transform: rotate(180deg);
        transition: 0.3 ease;
      }
    }
    &-menubar {
      overflow: hidden;
      cursor: pointer;
      width: 70px;
      background-color: $white;
      color: $black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      border: 1px solid $black;
      border-radius: 6px;
      top: 40px;
      z-index: 2;
      &-all,
      &-name,
      &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 35px;
      }
      &-all:hover,
      &-name:hover,
      &-content:hover {
        background-color: $gray100;
      }
    }
  }

  &__input {
    flex-basis: 230px;
    height: 35px;
    outline: none;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    padding-left: 10px;
  }
}

@media #{$tablet-screen} {
  .search-container {
    padding-top: 70px;
    width: 700px;
    &__input {
      flex-basis: 500px;
    }
  }
}
