@import '../../../styles/reset', '../../../styles/variables';

.headerPost__profile-container {
  display: flex;
  width: 228px;
  height: 28px;
}

.headerPost__profile-img {
  display: flex;
}

.headerPost__profile-size {
  width: 28px;
  height: 28px;
  margin-right: -10px;
}

.headerPost__profile-restcount {
  width: 28px;
  height: 28px;
  padding: 5px;
  background-color: $white;
  border: 1px solid $gray300;
  border-radius: 50%;
  @include font-style(12, Regular);
  line-height: 18px;
}

.headerPost__profile-totalcount {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 141px;
  @include font-style(18, Regular);
  line-height: 27px;
}

.headerPost__profile-count {
  @include font-style(18, Bold);
  line-height: 27px;
}
