@import '../reset', '../varialbes';

//색상변수
$box-bg-color: $surface;
$btn-bg-color: $purple600;
$font-title-color: $gray900;
$font-description-color: $gray500;
$font-btn-color: $white;

//버튼 너비 변수
$btn-width-mobile: calc(100% - 48px);
$btn-width-desktop: 280px;

@mixin btn-style {
  @include font-style(18, Regular);
  text-align: center;
  line-height: 56px;
  height: 56px;
  border-radius: 12px;
  background-color: $btn-bg-color;
  color: $font-btn-color;
}

//공통
.alignment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1248;
  margin-top: 128px;
  padding: 0 24px;
  .section1,
  .section2 {
    align-items: center;
    width: 100%;
    border: 1px solid $box-bg-color;
    border-radius: 16px;
    background-color: $box-bg-color;
    margin: 24px;

    .point-btn {
      @include font-style(14, Bold);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 32px;
      border-radius: 50px;
      background-color: $btn-bg-color;
      color: $font-btn-color;
      margin-bottom: 16px;
    }
    .h2 {
      font-size: 18px;
      line-height: 28px;
      color: $font-title-color;
    }
    .description {
      margin-top: 8px;
      color: $font-description-color;
      line-height: 22px;
      @include font-style(15, Regular);
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

/* Mobile version only*/
@media (max-width: 767px) {
  .text-box {
    margin: 24px;
    flex: 1;
    h2 {
      @include font-style(18, Bold);
    }
  }

  img {
    margin: 50px 0 60px;
  }

  .btn-container {
    display: flex;
    margin: 30px 0 30px 0;
    justify-content: center;
    width: 100%;
  }

  #btn {
    @include btn-style;
    width: $btn-width-mobile;
    width: 100%;
    border: none;
  }
}

/*tablet version*/
@media #{$tablet-screen} {
  .text-box {
    margin: 20px 0 36px 20px;
  }
  img {
    margin: 40px auto;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;
    width: 100%;
  }

  #btn {
    @include btn-style;
    width: 100%;
    border: none;
  }
}

/*desktop version*/
@media #{$desktop-screen} {
  .alignment {
    margin: 128px auto 32px auto;
    width: 1200px;
  }

  .section1,
  .section2 {
    width: 100%;
    height: 300px;
    display: flex;
    .text-box {
      width: 480px;
    }
    img {
      width: 720px;
    }
  }

  .section1 {
    .text-box {
      margin: 60px 120px auto 60px;
    }
  }

  .section2 {
    flex-direction: row-reverse;
    margin-top: 30px;
    .text-box {
      margin: 60px 190px 60px 0;
    }
  }

  #btn {
    @include btn-style;
    margin-top: 30px;
    width: $btn-width-desktop;
    border: none;
    cursor: pointer;
  }
}
