@import '../../../styles/variables';

.list-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 33px;
  width: 208px;
  height: 232px;
  padding: 30px 24px 20px 24px;
  margin: 0 10px;
  border-radius: 16px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
  background-position: center;
  background-size: cover;
  color: $gray900;

  &:hover {
    transform: scale(1.02);
    transition: all 0.1s linear;
  }
}

.--purple {
  background-color: $purple200;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.--beige {
  background-color: $beige200;
}

.--green {
  background-color: $green200;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.--blue {
  background-color: $blue200;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.list-card__writers {
  width: 125px;
  height: 114px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list-card__writers__to {
  @include font-style(18, Bold);
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-card__writers__profiles-count {
  position: relative;
  left: -30px;
  width: 33px;
  height: 28px;
  background-color: $white;
  border-radius: 30px;
  padding: 5px 6px;
  @include font-style(12, Regular);
  color: $gray500;
  line-height: 18px;
}

.list-card__text {
  @include font-style(14, Regular);

  span {
    @include font-style(14, Bold);
  }
}

.list-card__emoji-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list-card__divider {
  width: 100%;
  height: 1px;
  background-color: rgba($color: $black, $alpha: 0.12);
}

.list-card__emoji-wrap {
  display: flex;
  gap: 4px;
}

.list-card__emoji {
  text-align: center;
  width: 55px;
  height: 32px;
  padding: 6px 8px;
  border-radius: 32px;
  background-color: rgba($color: $black, $alpha: 0.54);
  color: white;
  @include font-style(14, 400);

  & span {
    padding: 2px;
  }
}

@media #{$tablet-screen} {
  .list-card {
    min-width: 275px;
    height: 260px;
    padding: 30px 24px 20px 24px;
  }

  .list-card__writers__to {
    font-size: 24px;
    width: 200px;
  }

  .list-card__text {
    font-size: 16px;
  }
}
