@import '../variables', '../reset';

.card-container {
  width: 320px;
  height: 230px;
  margin: 0 auto;
  background-color: $white;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
  padding: 25px;
  font-family: 'pretendard', sans-serif;
  transition: all 0.1s linear;
  &:hover {
    transform: scale(1.03);
    transition: all 0.1s linear;
  }
  .card-info-container {
    display: flex;
    align-items: center;
    gap: 15px;
    .card-info__img {
      width: 56px;
      height: 56px;
    }
    .card-info-detail-container {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .card- .card-info__name {
        @include font-style(16, Bold);
      }
      .card-info__role {
        width: 41px;
        height: 20px;
        border-radius: 4px;
        @include font-style(14, Regular);
        padding: 0 8px 0 8px;
      }
      .card-info__role.collegue {
        background-color: $purple100;
        color: $purple600;
      }
      .card-info__role.family {
        background-color: $green100;
        color: $green500;
      }
      .card-info__role.friend {
        background-color: $blue100;
        color: $blue500;
      }
      .card-info__role.known {
        background-color: $orange100;
        color: $orange500;
      }
    }
    #card__delete-btn {
      background-color: $white;
      width: 40px;
      height: 40px;
      border: 1px solid $gray300;
      border-radius: 6px;
      margin-left: auto;
      cursor: pointer;
      img {
        color: $black;
      }
    }
  }
  .card__underline {
    width: 100%;
    height: 1px;
    background-color: $gray200;
    margin: 15px 0 20px 0;
  }
  .card__content {
    height: 80px;
  }
  .card__date {
    float: left;
    color: $gray400;
    @include font-style(12, Regular);
  }
}

@media #{$tablet-screen} {
  .card-container {
    width: 352px;
    height: 284px;
    .card-info-container {
      gap: 15px;
      .card-info__img {
        width: 56px;
        height: 56px;
      }
      .card-info__name {
        @include font-style(18, Bold);
      }
    }
    .card__content {
      line-height: 28px;
      @include font-style(18, Regular);
    }
    .card__date {
      margin-top: 45px;
    }
  }
}

@media #{$desktop-screen} {
  .card-container {
    width: 384px;
    height: 280px;
  }
}
