@import '../../styles/variables', '../../styles/reset';

$background-colors: (
  beige: $beige200,
  purple: $purple200,
  blue: $blue200,
  green: $green200,
);

@mixin background-color-style($color: none) {
  background-color: map-get($background-colors, $color);
}

.post-wrapper {
  min-height: calc(100vh - 178px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &.green {
    @include background-color-style(green);
  }
  &.purple {
    @include background-color-style(purple);
  }
  &.blue {
    @include background-color-style(blue);
  }
  &.beige {
    @include background-color-style(beige);
  }
}

.post-delete-container {
  display: flex;
  justify-content: end;
  width: 340px;
  padding: 0 24px;
  margin: 0 auto 10px auto;
  &__delete-btn {
    padding: 7px 16px 9px 16px;
    height: 35px;
    border: none;
    border-radius: 6px;
    background-color: $accent-color;
    color: $white;
    cursor: pointer;
    &:active {
      transform: scale(0.8);
      transition: 0.3s ease;
    }
  }
}

.posted-page-container {
  max-width: 1248px;
  padding: 10px;
  height: 750px;
  margin: 0 auto;
  overflow: scroll;
  background: transparent;
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    height: 100px;
    background: $accent-background-thick;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-corner {
    display: none;
  }
  .add-post-card {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 87px;
    width: 320px;
    height: 230px;
    background-color: $white;
    border-radius: 16px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
    transition: all 0.1s linear;
    &:hover {
      transform: scale(1.03);
      transition: all 0.1s linear;
    }
    .add-post-card__plus-icon {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background-color: $gray500;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media #{$tablet-screen} {
  .post-wrapper {
    min-height: calc(100vh - 117px);
  }
  .post-delete-container {
    width: 730px;
    &__delete-btn {
      height: 50px;
      font-size: 16px;
    }
  }
  .posted-page-container {
    padding: 10px 24px;
    height: 620px;
    width: 780px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 352px);
    .add-post-card {
      right: 5px;
      width: 352px;
      height: 284px;
    }
  }
}

@media #{$desktop-screen} {
  .post-wrapper {
    min-height: calc(100vh - 132px);
  }
  .post-delete-container {
    width: 1200px;
  }
  .posted-page-container {
    margin: 0 auto;
    width: 100%;
    height: 610px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .add-post-card {
      width: 384px;
      height: 280px;
    }
  }
}
