@import '../reset', '../variables';

//색상변수
$box-bg-color: $surface;
$btn-bg-color: $purple600;
$font-title-color: $gray900;
$font-description-color: $gray500;
$font-btn-color: $white;

//버튼 너비 변수
$btn-width-mobile: calc(100% - 48px);
$btn-width-desktop: 280px;

@mixin btn-style {
  @include font-style(18, Regular);
  text-align: center;
  line-height: 56px;
  height: 56px;
  border-radius: 12px;
  background-color: $btn-bg-color;
  color: $font-btn-color;
  margin-top: 30px;
  cursor: pointer;
  border: none; /* 버튼 스타일에 border 속성 추가 */
}

/* Mobile version only*/
@media (max-width: 767px) {
  .CommonButton {
    @include btn-style; // 좌우 24px를 제외한 너비
    margin-left: 24px;
    margin-right: 24px;
  }
}

/* tablet version */
@media #{$tablet-screen} {
  .CommonButton {
    @include btn-style;
    width: calc(100% - 48px); // 좌우 24px를 제외한 너비
    margin-left: 24px;
    margin-right: 24px;
  }
}

/*desktop version*/
@media #{$desktop-screen} {
  .CommonButton {
    @include btn-style;
    width: $btn-width-desktop;
  }
}
