@import '../../styles/reset', '../../styles/variables';

@font-face {
  font-family: 'poppins-regular';
  src: url('/public/Poppins-Regular.ttf');
}

.header {
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid #dddddd;

  @media #{$tablet-screen} {
    padding: 10px 24px;
  }

  @media #{$desktop-screen} {
    padding: 10px 24px;
  }
  &-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

    &__logo {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;

      @media #{$tablet-screen} {
        width: 210px;
      }

      @media #{$desktop-screen} {
        width: 210px;
      }

      &__img {
        width: 40px;
        height: 40px;
      }

      &__title {
        font-family: 'poppins-bold';
        color: $gray700;
        font-size: 16px;

        @media #{$tablet-screen} {
          font-size: 20px;
        }

        @media #{$desktop-screen} {
          font-size: 20px;
        }
      }
    }

    &__right-side {
      display: flex;
      align-items: center;
    }

    &__post-btn {
      cursor: pointer;
      width: 142px;
      height: 40px;
      border: 1px solid #cccccc;
      border-radius: 8px;
      padding: 10px;
      text-align: center;

      &-text {
        background-color: #ffffff;
        font-size: 14px;
        font-weight: Regular;
        line-height: 20px;
        letter-spacing: -0.005em;
        text-align: center;
        color: $gray900;
      }
    }
  }

  &--hidden {
    display: none;
  }
}

//토글버튼 스타일
.toggle-container {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;

  .toggle-input {
    display: none;
  }

  .toggle-label {
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 25px;
    background: $white;
    border: 2px solid $accent-color;
    border-radius: 20px;
    transition: 0.2s;

    &:hover {
      background: $accent-background-light;
    }
  }

  .onf_btn {
    position: absolute;
    top: 3px;
    left: 3px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: $accent-color;
    transition: 0.2s;
  }

  .toggle-input:checked + .toggle-label {
    background: $accent-color;
    border: 2px solid $accent-color;

    &:hover {
      background: $accent-color;
    }

    .onf_btn {
      left: 24px;
      background: $accent-background-light;
      box-shadow: 1px 2px 3px #00000020;
    }
  }
}
