@import '../../styles/reset', '../../styles/variables';

.header {
  height: 64px;
  width: 100%;
  border-bottom: 1px solid #dddddd;

  &-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;

    &__leftside {
      position: static;
    }

    &__logo {
      cursor: pointer;
      min-width: 130px;
      height: 38px;
      display: flex;
      gap: 8px;

      &-icon {
        width: 130px;
        height: 38px;
      }
    }

    &__post-btn {
      cursor: pointer;
      width: 142px;
      height: 40px;
      border: 1px solid #cccccc;
      border-radius: 8px;

      &-text {
        display: flex;
        justify-content: center;
        margin-top: 8px;
        background-color: #ffffff;
        font-size: 14px;
        font-weight: Regular;
        line-height: 20px;
        letter-spacing: -0.005em;
        text-align: center;
        color: #000000;
      }
    }
  }

  &--hidden {
    display: none;
  }
}

//토글버튼 스타일
.toggle-button {
  background-color: #fff;
  color: #333;
  border: 0.1px solid #333;
  border-radius: 30px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #333;
    color: #fff;
  }
}

.toggle-button.on {
  background-color: #f26d85;
  color: #fff;
}
.toggle-button.off {
  background-color: $gray100;
  color: $black;
}
