@import '../../styles/reset', '../../styles/variables';

.hidden {
  display: none;
}

.header-post {
  width: 100%;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;

    &_to-name {
      align-self: center;
      margin: 12px 20px;
      width: 320px;
      @include font-style(18, Bold);
      height: 28px;

      @media #{$tablet-screen} {
        @include font-style(28, Bold);
        width: auto;
      }
    }

    &_info {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      margin: 8px;

      &_person-wrapper {
        margin-right: 12px;
        padding-top: 3px;
      }

      &_rectangle-1 {
        margin-right: 14px;
      }

      &_container {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        height: auto;
        min-width: 320px;
        cursor: pointer;

        &_share-dropdown {
          position: relative;

          &_btn {
            cursor: pointer;
            background-color: $white;
            border: 1px solid $gray300;
            border-radius: 6px;
            height: 32px;
            padding: 6px 8px;
            width: 36px;

            @media #{$tablet-screen} {
              height: 36px;
              width: 56px;
            }
          }

          &_menu {
            align-items: center;
            background-color: $white;
            border: 1px solid $gray300;
            border-radius: 8px;
            display: flex;
            flex-wrap: wrap;
            height: 120px;
            margin-top: 5px;
            padding: 10px 16px;
            position: absolute;
            right: 0px;
            width: 140px;
            z-index: 2000;
          }
        }
      }
    }
  }

  @media #{$desktop-screen} {
    .header-post__container {
      height: 68px;
    }
  }
}

.custom-toast {
  background-color: rgba(0, 0, 0, 0.8) !important;
  width: 320px;
  height: 64px;
  border-radius: 8px !important;
  bottom: 88px !important;
  margin: 0 auto;

  @media #{$tablet-screen} {
    width: 524px;
    bottom: 40px !important;
  }
}
