@import '../../styles/reset', '../../styles/variables';

.hidden {
  display: none;
}

.headerPost__container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.headerPost__toname {
  width: 320px;
  height: 28px;
  margin: 12px 20px;
  @include font-style(18, Bold);
}

.headerPost__info-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 8px;
}

.headerPost__person-wrapper {
  padding-top: 3px;
  margin-right: 12px;
}

.headerPost__emoji-Share-Control {
  height: auto;
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.headerPost__share-btn {
  width: 36px;
  height: 32px;
  border-radius: 6px;
  border: 1px solid $gray300;
  padding: 6px 8px;
  background-color: $white;
}

.headerPost__Share-dropdown {
  position: relative;
}

.headerPost__share-dropdown-menu {
  width: 140px;
  height: 120px;
  border: 1px solid $gray300;
  background-color: $white;
  padding: 10px 16px;
  border-radius: 8px;
  display: flex;
  margin-top: 5px;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  right: 20px;
}

.headerPost__share-btn {
  margin-right: 20px;
}

/*tablet version*/
@media #{$tablet-screen} {
  .headerPost__container {
    height: 65px;
  }

  .headerPost__toname {
    @include font-style(28, Bold);
    width: auto;
  }
}

/*tablet version*/
@media #{$desktop-screen} {
  .headerPost__container {
    height: 68px;
  }
}
