@import '../../../styles/variables';

.list-card__emoji-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list-card__emoji-divider {
  width: 100%;
  height: 1px;
  background-color: rgba($color: $black, $alpha: 0.12);
}

.list-card__emoji-wrap {
  display: flex;
  gap: 4px;
}

.list-card__emoji {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 49px;
  height: 32px;
  padding: 4px 6px;
  border-radius: 32px;
  background-color: rgba($color: $black, $alpha: 0.54);
  color: white;
  @include font-style(14, 400);

  & span {
    padding: 1px;
    font-size: 12px;
  }
}

.list-card__emoji-wrap {
  display: flex;
  height: 32px;
  gap: 4px;
}

@media #{$tablet-screen} {
  .list-card__emoji {
    padding: 6px 8px;
    width: 57px;

    & span {
      font-size: 14px;
    }
  }

  .emoji-min-width {
    width: 47px;
  }

  .list-card__emoji-wrap {
    gap: 8px;
  }
}
