@import '../../styles/variables';

// 모바일 360~ 767 태블릿 767~1199 데스크톱 1200~

* {
  font-family: 'Pretendard', sans-serif;
}

.message-form {
  width: 320px;
  margin: 0 auto;
}

.message-form__title {
  @include font-style(24, Bold);
  margin-bottom: 12px;
  margin-top: 50px;
  display: block;
}

.message-form__sender {
  input {
    cursor: auto;
  }
}

.message-form__inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 320px;
  height: 50px;
  border: 1px solid $gray300;
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
  @include font-style(16, Regular);
  line-height: 26px;
  letter-spacing: -0.01em;
  appearance: none;
  padding: 12px 16px;
  cursor: pointer;
  user-select: none;
}
.message-form__inputs::placeholder {
  @include font-style(16, Regular);
  line-height: 26px;
  letter-spacing: -0.01em;
}
.message-form__drop-down-menu-box {
  z-index: 1;
  position: absolute;
  width: 320px;
  top: 60px;
  left: 0;
  border: 1px solid $gray300;
  border-radius: 8px;
  background-color: $white;
  display: none;
}

.message-form__arrow-icon {
  width: 16px;
  height: 16px;
}

.message-form__drop-down-menu-box--active {
  display: block;
}
.message-form__drop-down-menu {
  display: flex;
  align-items: center;
  padding: 12px 16px;

  height: 50px;
  cursor: pointer;
  z-index: 1;
}
.message-form__drop-down-menu:hover {
  background-color: $gray100;
}

.message-form__profile-container {
  display: flex;
  justify-content: space-between;
}

.message-form__profile-options-title {
  @include font-style(16, Regular);
  line-height: 26px;
  letter-spacing: -0.01em;
}

.message-form__profile-options {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 122px;
  margin-left: 32px;
}

.message-form__profile--preview {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 100px;
}

.message-form__profile-preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.message-form__text-area {
  width: 100%;
  height: 308px;
  padding: 16px 16px;
  border-radius: 8px;
  border: 1px solid $gray300;
  resize: none;
}
.message-form__text-area::placeholder {
  @include font-style(16, Regular);
  line-height: 26px;
  letter-spacing: -0.01em;
  color: $gray900;
}

.message-form__submit {
  width: 100%;
  height: 56px;
  padding: 14px 24px 14px 24px;
  border-radius: 12px;
  margin: 0 auto;
  margin-top: 206px;
  margin-bottom: 24px;
}

@media (min-width: 767px) {
  .message-form {
    width: 717px;
  }
  .message-form__profile--preview {
    width: 56px;
    height: 56px;
  }
  .message-form__profile-preview-container {
    gap: 4px;
  }
}

@media (min-width: 1200px) {
  .message-form {
    width: 720px;
  }
}
