@import '../variables';

// 모바일 360~ 767 태블릿 767~1199 데스크톱 1200~

.background-form {
  //
  width: 320px;
  margin: 0 auto;
}

.background-form__title {
  @include font-style(24, Bold);
  margin-bottom: 12px;
  margin-top: 50px;
  display: block;
}

.background-form__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 320px;
  height: 50px;
  border: 1px solid $gray300;
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
  @include font-style(16, Regular);
  line-height: 26px;
  letter-spacing: -0.01em;
  appearance: none;
  padding: 12px 16px;
  user-select: none;
}
