@import '../variables', '../reset';

.background-form {
  width: 320px;
  margin: 0 auto;
}

.background-form__title {
  @include font-style(24, Bold);
  margin-bottom: 12px;
  margin-top: 50px;
  display: block;
}

.background-form__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
  border: 1px solid $gray300;
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
  @include font-style(16, Regular);
  line-height: 26px;
  letter-spacing: -0.01em;
  appearance: none;
  padding: 12px 16px;
  user-select: none;
}

.background-form-group {
  margin: 48px 0 24px 0;
  & > p:first-child {
    @include font-style(24, Bold);
    margin-bottom: 4px;
  }
  & > p:nth-child(2) {
    @include font-style(16, Regular);
  }
}

.background-form__check-icon {
  background-color: $gray500;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: none;
  z-index: 1;
}

.background-form__submit {
  width: 100%;
  height: 56px;
  padding: 14px 24px 14px 24px;
  border-radius: 12px;
  margin: 0 auto;
  margin-top: 82px;
  margin-bottom: 24px;
  background-color: $accent-color;
  border: none;
  color: $white;
  @include font-style(18, Bold);
}

@media #{$tablet-screen} {
  .background-form {
    width: 720px;
  }
}
