@import '../../../styles/variables';

.loading-card {
  width: 208px;
  min-width: 208px;
  height: 232px;
  margin: 0 10px;
  padding: 30px 24px;
  border-radius: 16px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 33px;
}

.loading-card__text-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.loading-card__to {
  position: relative;
  overflow: hidden;
  width: 125px;
  height: 21px;
  border-radius: 8px;
}

.loading-card__profiles {
  width: 100px;
  height: 28px;
  border-radius: 8px;
}

.loading-card__counter {
  width: 135px;
  height: 21px;
  border-radius: 8px;
}

.loading-card__emoji-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.loading-card__divider {
  width: 100%;
  height: 1px;
  background-color: $gray300;
}

.loading-card__emoji-wrap {
  display: flex;
  gap: 4px;
}

.loading-card__emoji {
  width: 50px;
  height: 32px;
  border-radius: 32px;
}

.loading-card .animation {
  background: linear-gradient(
    90deg,
    #e4e4e4 20%,
    #e5e5e5 30%,
    $gray200 38%,
    #f0f0f0 40%,
    #e5e5e5 48%
  );
  border-radius: 1rem;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load 2.5s infinite;
}

@keyframes load {
  100% {
    background-position: -100% 0;
  }
}

@media #{$tablet-screen} {
  .loading-card {
    width: 275px;
    height: 260px;
  }

  .loading-card__emoji {
    width: 55px;
  }
}
