@import '../font', '../colors', '../reset';

* {
    text-decoration: none;
}

.header {
    height: 64px;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;

}

.header__logo {
    width: 106px;
    height: 30px;
    display: flex;
    gap: 8px;
    margin-top: 5px;
}

.header__logo-icon {
    width: 27.82px;
    height: 27.66px;
}

.header__logo-text {
    font-family: Poppins;
    font-size: 19.97px;
    font-weight: 700;
    line-height: 29.96px;
    text-align: center;
    color: #4A494F;
}

.header__post-btn {
    width: 142px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #cccccc;
    padding: 8px 16px;
    
    @include font-style(14, Regular);
    background-color: #FFFFFF;
    font-family: Pretendard;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.005em;
    text-align: center;
}
