@import '../../styles/variables';

.message-form__sender {
  input {
    cursor: auto;
  }
}

.message-form__inputs--error {
  border-color: $error;
  color: $error;
  @include font-style(12, Regular);
  line-height: 18px;
}
