@import '../reset', '../variables';

.headerPost__profile-container {
  display: flex;
  width: 228px;
  height: 28px;
}

.headerPost__profile-img {
  display: flex;
}

.headerPost__profile-size {
  width: 28px;
  height: 28px;
  margin-right: -10px;
}

.headerPost__profile-restcount {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid $gray300; /* 변수 사용 */
  background-color: $white; /* 변수 사용 */
  padding: 5px;
  @include font-style(12, Regular);
  line-height: 18px;
}

.headerPost__profile-totalcount {
  width: 141px;
  display: flex;
  justify-content: flex-end;
  @include font-style(18, Regular); /* 변수 사용 */
  line-height: 27px;
  align-items: center;
}

.headerPost__profile-count {
  @include font-style(18, Bold); /* 변수 사용 */
  line-height: 27px;
}
